.contWraper {
  width: 100%;
}

.contWraper .outer {
  padding: 25px 20px 10px;
  list-style-type: none;

}

.contWraper .outer .box {
  display: inline-block;
  padding: 0px 10px;
  margin-bottom: 5px;
  border-radius: 3px;
  /* color: #000000; */
}

table {
  margin: 0 auto;
}

table tr,
td {
  vertical-align: middle;
}

table tr th {
  text-align: center;
}

table tr td {
  width: 32px;
  text-align: center;
}

table tr td:first-child {
  vertical-align: middle;
}

table tr td p {
  margin-bottom: 0;
  line-height: 1.2;
}

table tr td p:last-child {
  font-family: 'Montserrat-Bold';
}

table tr td div {
  padding: 0 5px;
  color: #000000;
}

.element_table table tr td div {
  box-shadow: 0px 1px white inset;
  cursor: pointer;

}
.element_table table tr td div p:first-child{
  font-size:14px;
}

.non_metals {
  background: #CCA37A;
  border: 1px solid #AA825D;
  border-radius: 5px;
}

.alkali_metals {
  background: #FE646A;
  border: 1px solid #D84B53;
  border-radius: 3px;

}

.alkaline_metals {
  background: #E3AA89;
  border: 1px solid #D48E68;
  border-radius: 3px;

}

.transition_metals {
  background: #ADDDF4;
  border: 1px solid #80C3E0;
  border-radius: 3px;

}

.rare_earth {
  background: #CCCCCC;
  border: 1px solid #ACACAC;
  border-radius: 3px;

}

.actinides {
  background: #66D4D6;
  border: 1px solid #53ADAD;
  border-radius: 3px;

}

.metals {
  background: #8BC7A0;
  border: 1px solid #4BAA69;
  border-radius: 3px;

}

.metalloids {
  background: #C76F6B;
  border: 1px solid #AA4A47;
  border-radius: 3px;

}

.halogens {
  background: #C7C729;
  border: 1px solid #B6B31E;
  border-radius: 3px;

}

.noble_gases {
  background: #C39CE3;
  border: 1px solid #AB84CD;
  border-radius: 3px;

}

.lanthanides {
  background: #C0C1EB;
  border: 1px solid #9497CB;
}

.period {
  text-orientation: inherit;
  transform: rotate(270deg);
  font-weight: bold;
  padding: 0;
  color: var(--primary-text);
  display: block;
}

.popupContent {
  position: absolute;
  display: none;
  width: 100%;
  background-color: var(--theme-popup-background);
  z-index:100;
  overflow: auto;
  max-height: 100%;
}

.popupContent p {
  margin-bottom: 0;
  font-weight: bold;
}

.popupContent p span {
  font-family: 'Montserrat-Regular';
  padding-left: 5px;
}

.element_border {
  border: 1px solid #14292D;
  background: #066C84;
  color: white;
  box-shadow: inset 0 -1px 0px 0px #ffffff !important;
}
.element_table table tr td div:hover{
  background: #12D0FC;
  border: 1px solid #5DB0D1;
}
.element_table table tr:first-child{
  font-weight: bold;
}
.margin-top-20 {
  margin-top: 20px;
}

.hidePop {
  display: none;
}

.showPop {
  display: block;
  bottom: 0px;
  padding: 15px 20px;
  border-top: 2px solid gray;
}

.popupContent table {
  width: 100%;

}

.popupContent table tr td {
  padding-left: 0px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  width: auto;
}

/* .popupContent table tr:nth-child(odd){
  background-color:lightgray;
} */
.element_head {
  margin-bottom: 5px !important;
}

.element_select {
  padding-left: 0 !important;
}

.element_select select {
  border: 1px solid var(--theme-pri-color);
  border-radius: 7px;
  width: 213px;
  padding: 7px
}

.triangle_down1 {
  position: relative;
  top: -34px;
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-right: 1px solid var(--theme-pri-color);
  border-top: 1px solid var(--theme-pri-color);
  transform: rotate(135deg);
  margin-right: 0.5em;
  margin-left: 1em;
  left: 173px;
  pointer-events: none;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}
.popdown_btn {
  width: 40px;
  height: 40px;
  background: var(--theme-pri-color);
  border: none;
  border-radius: 50%;
  right: 10px;
  position: absolute;
  top:8px;
}
.popup_btn{
  width: 40px;
  height: 40px;
  background: var(--theme-pri-color);
  border: none;
  border-radius: 50%;
  right: 10px;
  position: fixed;
  bottom:55px
}

.triangle_down2 {
  position: relative;
  top: 0;
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-right: 2px solid white;
  border-top: 2px solid white;
  transform: rotate(135deg);
  margin-right: auto;
  margin-left: auto;
  right:0;

}

.element_table {
  margin-bottom: 20px;
  margin-right:10px;
  overflow: auto;
}

.italic_font {
  font-family: 'Montserrat-Italic';
  width: 125px;
  font-weight: bold;
}

.popupContent table tr td p {
  color: var(--theme-pri-color);
}

.popupContent table tr td p span {
  color: var(--primary-text);
  border: 1px solid #ccc;
  background: #ffffff;
  margin-left: 5px;
  padding: 2px 10px;
  border-radius: 5px;
  min-width: 70px;
  display: inline-block;
  text-align: center;
  font-weight: normal;
  height: 25px;
    vertical-align: middle;
}


.triangle_up {
  position: relative;
  top: 3px;
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-right: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  transform: rotate(315deg);
  margin-right: auto;
  margin-left: auto;
  right: 0px;
}
/* @media only screen and (max-width: 1024px) {
  #split-main.split{
    height:26%;
  }
} */
@media only screen and (max-width: 890px) {
  .popupContent{
    font-size: 14px;
    padding: 15px 20px;
  }
}
@media only screen and (max-width: 768px) {
  .popupContent{
    font-size: 13px;
    padding: 15px 20px;
  }
  .popupContent table tr td p span{
    min-width: 60;
  }
}
@media only screen and (max-width: 756px) {
  .popupContent{
    font-size: 12px;
    padding: 15px 20px;
  }
}
@media only screen and (max-width: 740px) {
  .exp_body_content{
    font-size: 13px;
  }
}
@media only screen and (max-width: 670px) {
  .exp_body_content{
    font-size: 12px;
  }
  .popupContent{
    font-size: 11px;
    padding: 10px 10px;
  }
  .triangle_down1 {
    top: -26px;
}
table tr td p {
  margin-bottom: 0;
  line-height: 1.7;
}
.popdown_btn,.popup_btn
 {
  width: 35px;
  height: 35px;
}
}
 @media screen and (orientation: landscape) and (max-device-height: 430px)
  {
  .popupContent table tr td p span{
    min-width: auto;
  }
  }

/* @media screen and (orientation: landscape) and (min-device-width: 380px) and (max-device-width: 990px) and (max-device-height: 990px){
.container-so.main .exp_footer {
    display: none;
}
} */
